# Виртуальные окружения
venv_u/
.venvs/
env/
.venv_win/

# Кэш Python
__pycache__/
*.pyc

# Системные файлы окон и маков
.DS_Store
Thumbs.db

# Настройки VS Code
.vscode/

# 
требования/
отчеты/
build/
dist/
OrdersStore.spec